@font-face {
  font-family: 'amiri-italic';
  font-display: swap;
  src: local('amiri-italic'),
       url('amiri italic.ttf') format('truetype'),
       url('amiri italic.woff') format('woff'),
       url('amiri italic.woff2') format('woff2');
  /* Fallback font stack */
  /* font-family: 'amiri-italic', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif; */
}
