@font-face {
  font-family: 'tajawal-extralight';
  font-display: swap;
  src: local('tajawal-extralight'),
       url('tajawal extralight.ttf') format('truetype'),
       url('tajawal extralight.woff') format('woff'),
       url('tajawal extralight.woff2') format('woff2');
  /* Fallback font stack */
  /* font-family: 'tajawal-extralight', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif; */
}
