@font-face {
  font-family: 'tajawal-regular';
  font-display: swap;
  src: local('tajawal-regular'),
       url('tajawal regular.ttf') format('truetype'),
       url('tajawal regular.woff') format('woff'),
       url('tajawal regular.woff2') format('woff2');
  /* Fallback font stack */
  /* font-family: 'tajawal-regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif; */
}
