@font-face {
  font-family: 'hafs-uthmanic-script-regular-i';
  font-display: swap;
  src: local('hafs-uthmanic-script-regular-i'),
       url('hafs uthmanic script regular i.ttf') format('truetype'),
       url('hafs uthmanic script regular i.woff') format('woff'),
       url('hafs uthmanic script regular i.woff2') format('woff2');
  /* Fallback font stack */
  /* font-family: 'hafs-uthmanic-script-regular-i', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif; */
}
