@font-face {
  font-family: 'tajawal-medium';
  font-display: swap;
  src: local('tajawal-medium'),
       url('tajawal medium.ttf') format('truetype'),
       url('tajawal medium.woff') format('woff'),
       url('tajawal medium.woff2') format('woff2');
  /* Fallback font stack */
  /* font-family: 'tajawal-medium', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif; */
}
