@font-face {
  font-family: 'tajawal-light';
  font-display: swap;
  src: local('tajawal-light'),
       url('tajawal light.ttf') format('truetype'),
       url('tajawal light.woff') format('woff'),
       url('tajawal light.woff2') format('woff2');
  /* Fallback font stack */
  /* font-family: 'tajawal-light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif; */
}
